@import '../../styles/variables/colors.css';
@import '../../styles/variables/spacing.css';

.link {
    outline: none;
    text-decoration: none;
}

.card {
    display: flex;
    width: 280px;
    height: 350px;
    flex-direction: column;
    border: 1px solid var(--card-border-color);
    margin-top: 30px;
    cursor: pointer;
}

.image {
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.name {
    color: var(--card-title-color);
    padding: var(--card-paddings);
    margin-bottom: 5px;
    -webkit-line-clamp: 1; 
    line-clamp: 1; 
}

.description {
    font-weight: var(--bold-font-weight);
    color: var(--card-description-color);
    padding: var(--card-paddings);
    font-size: var(--common-text-font-size);
    text-align: justify;       
    -webkit-line-clamp: 4;   
    line-clamp: 4;   
}

.name, .description {
    display: -webkit-box;  
    overflow: hidden;
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
}
