.card {
    display: flex;
    width: 280px;
    height: 350px;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.image {
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.name {
    color: #c9170e;
    padding: 0 15px;
    margin-bottom: 5px;
}

.description {
    font-weight: 600;
    color: #4a4848;
    padding: 0 15px;
    font-size: 14px;
    text-align: justify;
    display: -webkit-box;        
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 4;      
    overflow: hidden;   
    text-overflow: ellipsis;
}