@import '../../styles/variables/colors.css';
@import '../../styles/variables/fonts.css';
@import '../../styles/variables/spacing.css';

header {
    background-color: var(--header-background-color);
    max-width: 100vw;
    user-select: none;
    display: flex;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.marvel-logo {
    display: flex;
    height: 5vh;
    margin-left: var(--unit-vw);
}

nav {
    display: flex;
    margin-right: var(--unit-vw);
    gap: var(--common-gap);

    a {
        color: var(--header-button-text-color);
        font-size: var(--nav-button-font-size);
        text-decoration: none;
        padding-left: var(--common-gap);
        cursor: pointer;
        font-family: var(--web-site-font-family);
    }

    a.active {
        text-decoration: underline;
    }
}
