@import '../../styles/variables/colors.css';
@import '../../styles/variables/fonts.css';
@import '../../styles/variables/spacing.css';

.page-container {
    margin: var(--unit-vw) 3vh;
}

.title {
    color: var(--titles-and-search-color);
    font-weight: var(--bold-font-weight);
    letter-spacing: -1px;
}

.search-field-container {
    display: flex;
    justify-content: space-between;
}

.input-search-field::placeholder {
    color: var(--dim-grey-color);
}

.input-search-field {
    font-family: var(--web-site-font-family);
    font-weight: var(--bold-font-weight);
    width: 70vw;
    outline: none;
    border: 2px solid var( --dim-grey-color);
    height: 4vh;
    padding-left: var(--unit-vw);
    color: var(--titles-and-search-color);
}

.search-button {
    font-weight: var(--bold-font-weight);
    width: 20vw;
    line-height: var(--common-gap);
    outline: none;
    border: none;
    background-color: var(--pages-buttons-color);
    color: var(--white-text-color);
    cursor: pointer;
    font-family: var(--web-site-font-family);
}

hr, .hr-bottom {
    margin-top: 4vh;
    border: 1px solid var(--dim-grey-color);
    opacity: 0.3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: calc(var(--common-gap) * 3);
    flex-wrap: wrap;
    justify-content: center;
}

.hr-bottom {
    margin-top: 12vh;
}