@import '../../styles/variables/colors.css';
@import '../../styles/variables/fonts.css';
@import '../../styles/variables/spacing.css';

.entity-image {
    height: 50vh;
    width: 100%;
    border: 1px solid var(--bright-grey-color);
    object-fit: cover;
    object-position: 0 30%;
}

.info-container {
    display: flex;
    flex-direction: row;
}

.title-description {
    font-size: var(--details-title-font-size);
    color: var(--titles-and-search-color);
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    height: 39.7vh;
    width: 50%;
    text-align: justify;
}

.description {
    margin: 0;
}

.entity-container {
    width: 50%;
    margin-right: 3vw; 
    margin-left: 3vw;
    font-size: var(--details-title-font-size);
    color: var(--titles-and-search-color);
}

ul {
    margin: 0;
    padding-left: calc(var(--common-gap) * 2);
}

li {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: var(--links-font-size);
}

.linkToRelated {
    text-decoration: none;
}

.linkToRelated:visited {
    color: var(--default-link-color);
    text-decoration: none;
}
